#JuegoCanva {
    border: solid 1px #ccc;
    margin: 20px auto; /* Centrar horizontalmente */
    background: url("assets/imagenes/fondo.jpg");
    background-size: cover;
    display: block; /* Asegurar que el canvas se comporte como un bloque */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidad */
    border-radius: 15px; /* Bordes redondeados */
}

#marcador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; /* Ajustar el ancho para que no ocupe todo el ancho de la pantalla */
    padding: 10px;
    background: linear-gradient(135deg, #2c3e50, #4a69bd); /* Gradiente de fondo */
    color: #ecf0f1; /* Color de texto más claro */
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    border-radius: 10px;
    margin: 20px auto; /* Centrar horizontalmente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidad */
    transition: transform 0.3s; /* Transición suave para la transformación */
}

#marcador:hover {
    transform: scale(1.05); /* Aumentar ligeramente el tamaño al pasar el ratón */
}

.puntuacion {
    padding: 10px 20px;
    background: linear-gradient(135deg, #34495e, #2c3e50); /* Gradiente de fondo */
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra interna y externa */
    text-align: center; /* Centrar el texto */
    transition: background 0.3s, transform 0.3s; /* Transición suave para el cambio de fondo y transformación */
}

.puntuacion:hover {
    background: linear-gradient(135deg, #2c3e50, #34495e); /* Gradiente de fondo al pasar el ratón */
    transform: scale(1.1); /* Aumentar ligeramente el tamaño al pasar el ratón */
}

#botonInicio, #botonReiniciar {
    display: block;
    margin: 20px auto; /* Centrar horizontalmente */
    padding: 10px 20px;
    font-size: 18px;
    background: linear-gradient(135deg, #27ae60, #2ecc71); /* Gradiente de fondo */
    color: #fff; /* Color de texto blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidad */
    transition: background 0.3s, transform 0.3s; /* Transición suave para el cambio de fondo y transformación */
}

#botonInicio:hover, #botonReiniciar:hover {
    background: linear-gradient(135deg, #2ecc71, #27ae60); /* Gradiente de fondo al pasar el ratón */
    transform: scale(1.05); /* Aumentar ligeramente el tamaño al pasar el ratón */
}

#botonInicio:active, #botonReiniciar:active {
    transform: scale(0.95); /* Reducir ligeramente el tamaño al hacer clic */
}

#botonInicio:disabled, #botonReiniciar:disabled {
    background: linear-gradient(135deg, #bdc3c7, #95a5a6); /* Gradiente de fondo para botones desactivados */
    cursor: not-allowed; /* Cambiar el cursor a no permitido */
    box-shadow: none; /* Quitar la sombra */
    transform: none; /* Quitar la transformación */
}